<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!--Axios-->
    <!-- permite hacer llamadas get y post -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</head>
<!-- ******************************************* -->

<body>
    <div class="container-fluid" id="pruebaTecnica">
        <div class=" row col-8 mx-auto mt-5">
            <h1 class="text-center">
                Squad: {{dataHeros.squadName}}
            </h1>
            <h2 class="mt-3">
                HomeTown: {{dataHeros.homeTown}}
            </h2>
            <h5 class="my-2">
                Formed: {{dataHeros.formed}}
            </h5>
            <h5 class="my-2">
                Secret-Base: {{dataHeros.secretBase}}
            </h5>
            <!-- Button Nuevo Heroe -->
            <button type="button" class="btn btn-danger col-4 my-2" data-toggle="modal" data-target="#ModalCrear">
                Nuevo Heroe
            </button>
            <!-- Modal -->
            <div class="modal fade" id="ModalCrear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Crear</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label for="name" class="label-holder">Nombre</label>
                            <input type="text" class="form-control input-lh" id="name" v-model="name">
                            <label for="age" class="label-holder">Edad</label>
                            <input type="number" class="form-control input-lh" id="name" v-model="age">
                            <label for="name" class="label-holder">Identidad Secreta</label>
                            <input type="text" class="form-control input-lh" id="name" v-model="secretIdentity">
                            <label for="name" class="label-holder">Poderes</label>
                            <input type="text" class="form-control input-lh" id="name" v-model="power">
                            <button type="button" class="btn btn-primary mx-auto my-2" @click="agregarPoder">Agregar
                                Poder</button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary mx-auto" @click="createHero"
                                data-dismiss="modal" aria-label="Close">Guardar Nuevo Heroe</button>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Secret identity</th>
                        <th scope="col">Age</th>
                        <th scope="col">Powers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="hero,index in dataHeros.members">
                        <th>{{hero.name}}</th>
                        <td>{{hero.secretIdentity}}</td>
                        <td>{{hero.age}}</td>
                        <td>
                            <ul>
                                <li v-for="powers,index in hero.powers">{{hero.powers[index]}}</li>
                            </ul>
                        </td>
                        <td v-if="hero.age >= 500" class="m-auto">mitológico</td>
                        <td>
                            <button class="btn btn-secondary" @click="deleteHero(index)">Eliminar</button>
                            <button class="btn btn-secondary" data-toggle="modal" data-target="#ModalModificar">Modificar</button>
                            <div class="modal fade" id="ModalModificar" tabindex="-1" role="dialog" aria-labelledby="ModalModificar"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="ModalModificar">Modificar</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <label for="name" class="label-holder">Nombre</label>
                                        <input type="text" class="form-control input-lh" id="name" v-model="name">
                                        <label for="age" class="label-holder">Edad</label>
                                        <input type="number" class="form-control input-lh" id="name" v-model="age">
                                        <label for="name" class="label-holder">Identidad Secreta</label>
                                        <input type="text" class="form-control input-lh" id="name" v-model="secretIdentity">
                                        <label for="name" class="label-holder">Poderes</label>
                                        <input type="text" class="form-control input-lh" id="name" v-model="power">
                                        <button type="button" class="btn btn-primary mx-auto my-2" @click="agregarPoder">Agregar
                                            Poder</button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary mx-auto" @click="updateHero(index)"
                                            data-dismiss="modal" aria-label="Close">Guardar Modificaciones</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
            </div>
</body>
<script src="js/controlador.js"></script>

</html>